.preview-container {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  //align-items: stretch;

  .media-preview-container {
    * {
      object-fit: contain;
      max-height: 100%;
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }

  .tool-container {
    position: fixed;
    top: 30px;
  }


  .close-button {
    cursor: pointer;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    width: 50px;
  }
  .spinner {
    align-self: center;
    position: absolute;
    z-index: 9999;
  }
  .blur{
    transition: all 0.3s ease-out;
    filter: blur(20px);
  }
}
