<div class="image-thumbnail-container">
    <app-photo-buffer [buffer]="media.thumbnail" [orientation]="media.orientation" (dblclick)="previewMedia()"></app-photo-buffer>
    <div class="figure">
        <p>{{ media.filename }}</p>
<!--        <p>{{ media.takenAt | date:"yyyy.MM.dd HH:mm:ss"}}</p>-->
        <p (click)="mediaService.updateMedia(media.id, {favorite: !media.favorite})">{{ media.favorite }}</p>
        <span>[{{ media.flag }}]</span>
        <span (click)="mediaService.updateMedia(media.id, {flag: 1})"> +1 </span>
        <span (click)="mediaService.updateMedia(media.id, {flag: 0})"> 0 </span>
        <span (click)="mediaService.updateMedia(media.id, {flag: -1})"> -1 </span>
    </div>
</div>

