<div class="location">
    <h4>Locations</h4>
    <icon-plus style="cursor:pointer;" (click)="isAddModalOpen = true"></icon-plus>
</div>
<div *ngFor="let location of locations" class="selection location" [class.selected]="location.isSelected">
    <span (click)="toggleSelect(location)">{{ location.name }}</span>
    <icon-cog
            style="opacity: 0.5"
            (click)="locationEditForm.openModal(location)"
    ></icon-cog>
</div>

<app-location-add-form
        (locationAdded)="locationCreated()"
        [(isModalOpen)]="isAddModalOpen"
></app-location-add-form>

<app-location-edit-form
        (locationDeleted)="locationRemoved($event)"
></app-location-edit-form>
