<p *ngFor="let location of locations">
    <span [class.selected]="location.isSelected" (click)="toggleSelect(location)">{{ location.name }}</span>
</p>

<h3>Add new</h3>
<form [formGroup]="newPathForm" (ngSubmit)="onSubmit()">
    <!--    <div [formGroup]="newPathForm">-->
    Name: <input formControlName="name">
    Path: <input formControlName="path">
    <button class="btn btn-primary" (click)="selectFolder(); $event.preventDefault()" >Choose</button>
    <!--    </div>-->
    <button class="btn btn-primary" [disabled]="newPathForm.invalid" type="submit">Add</button>
</form>

<h3 (click)="send()">
    load location
</h3>
