<p (click)="getMedia()">grid works!</p>

<app-preview-media
        *ngIf="gridService.isPreviewOpen"
        [previewItem]="gridService.selectedMedia"
        (modalClosed)="modalClosed()"
></app-preview-media>

<div class="media-item-container">
    <ng-container *ngFor="let item of media">
        <p class="media-grid-separator" *ngIf="shouldSeparateGrid(item.takenAt)">
            {{ item.takenAt | date:"yyyy.MM.dd" }}
        </p>
        <div class="media-item">
            <app-media-item [media]="item"></app-media-item>
        </div>
    </ng-container>
</div>

