<!--<p (click)="getMedia()">grid works!</p>-->
<app-preview-media
        *ngIf="gridService.selectedMediaPreview"
        [previewItemIndex]="gridService.selectedMediaPreview"
        (modalClosed)="modalClosed()"
></app-preview-media>

<div class="media-item-container"
     style="background-color: antiquewhite"
     infiniteScroll
     [infiniteScrollDistance]="3"
     [infiniteScrollThrottle]="50"
     [fromRoot]="true"
     (scrolled)="onScroll()"
>
    <ng-container *ngFor="let item of mediaService.media; let i = index">
        <!--        <p class="media-grid-separator" *ngIf="shouldSeparateGrid(item.takenAt)">-->
        <!--            {{ item.takenAt | date:"yyyy.MM.dd" }}-->
        <!--        </p>-->
        <div class="media-item">
            <app-media-item [mediaIndex]="i"></app-media-item>
        </div>
    </ng-container>
</div>
