<div class="tools">
    <icon-arrow
            class="checked"
            position="left"
            (document:keydown.ARROWLEFT)="gridService.prevMediaPreview()"
            (click)="gridService.prevMediaPreview()"
    ></icon-arrow>

    <icon-favorite
            class="separated"
            (click)="toggleFavorite()"
            (document:keydown.f)="toggleFavorite()"
            [filled]="mediaService.media[mediaItemIndex].favorite"
            [class.checked]="mediaService.media[mediaItemIndex].favorite"
    ></icon-favorite>

    <icon-flag-filled
            class="separated"
            [class.checked]="mediaService.media[mediaItemIndex].flag == 1"
            (click)="toggleFlag(1)"
    ></icon-flag-filled>
    <icon-flag
            [class.checked]="mediaService.media[mediaItemIndex].flag == 0"
            (click)="toggleFlag(0)"
    ></icon-flag>
    <icon-rejected
            [class.checked]="mediaService.media[mediaItemIndex].flag == -1"
            (click)="toggleFlag(-1)"
    ></icon-rejected>

    <icon-sign
            class="separated"
            (click)="openInExternal()"
    ></icon-sign>

    <icon-folder
            (click)="showInLocation()"
    ></icon-folder>

    <icon-arrow
            (document:keydown.ARROWRIGHT)="gridService.nextMediaPreview()"
            (click)="gridService.nextMediaPreview()"
            position="right"
            class="checked separated"
    ></icon-arrow>
</div>
