<h1>Location list</h1>
<p *ngFor="let location of locations">
    <span>{{ location['name'] }}</span>
</p>
<h2>Add new</h2>
<form [formGroup]="newPathForm" (ngSubmit)="onSubmit()">
    <!--    <div [formGroup]="newPathForm">-->
    Name: <input formControlName="name">
    Path: <input formControlName="path">
    <button class="btn btn-primary" (click)="selectFolder(); $event.preventDefault()" >Choose</button>
    <!--    </div>-->
    <button class="btn btn-primary" [disabled]="newPathForm.invalid" type="submit">Add</button>
</form>

<h3 (click)="send()">
    load location
</h3>
