$navSize: 250px;

.app-container{
  nav.filters {
    background-color: bisque;
    height: 100%;
    width: $navSize;
    position: fixed;
    overflow: scroll;
    z-index: 1;
    top: 0;
    left: 0;
  }
  section{
    margin-left: $navSize + 15;
  }
}
