.media-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

p.media-grid-separator {
  padding: 10px;
  width: 100%;
  background-color: darkgrey;
}

.media-favorite{
  cursor: pointer;
  margin: 12px;
  opacity: 0.6;
  position: absolute;
  color: white;
}

.media-item {
  text-align: center;
  //width: 200px;
  //flex-basis: 200px;
  background-color: $gray-700;
  border: 1px solid $gray-900;
  border-radius: 5px;

  .image-thumbnail-container {
    height: 100%;
    display: grid;
    grid-template-rows: minmax(60px, 1fr);

    .figure {
      color: $gray-500;
      font-size: 12px;
      overflow: hidden;
      align-self: end;
      padding: 10px;
      height: 60px;
    }

    img {
      align-self: center;;
      justify-self: center;
      padding: 10px;
      //max-width: 120px;
      max-width: 100%;
      max-height: 150px;

    }

  }
}
