body {
  font-family: 'Lato', 'Verdana', 'Arial', 'sans-serif';
  background-color: $gray-800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Bootstrap
//@import "../../node_modules/bootstrap/scss/functions";
//@import "../../node_modules/bootstrap/scss/mixins";
//@import "../../node_modules/bootstrap/scss/variables";
//@import "../../node_modules/bootstrap/scss/buttons";
//@import "../../node_modules/bootstrap/scss/grid";
//@import "../../node_modules/bootstrap/scss/bootstrap-grid";
