$primary: #0d6efd;
$gray-100: #E9ECEF;
$gray-200: #DEE2E6;
$gray-300: #CED4DA;
$gray-400: #ADB5BD;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;
$navSize: 250px;

